.layout {
    display: flex;
    flex-wrap: wrap;
    margin-top: -1em; 
    margin-left: -3.5em; 
    align-items: center;
    
    /* &:not(:first-of-type) {
      margin-top: 3em; 
    }
    
    &:nth-child(even) {
      flex-direction: row-reverse;
    }
    
    &__item {
      padding-top: 1em;
      padding-left: 3.5em; 
      
      &--body {
        flex-grow: 9999; 
        flex-basis: $min-width;
      }
      
      &--figure {
        margin-right: auto;
        flex-grow: 1; 
   */